#open-in-brickseek-button {
    background-color: #75aa2b;
    border-bottom-color: rgb(94 131 43);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-style: solid;
    border-width: 0 0 3px;
    padding: 2px 7px;
    color: #fff;
    text-shadow: rgb(95 95 95 / 71.9%) 1px 1px 0;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    position: fixed;
    z-index: 1000;
}

#open-in-brickseek-button:hover {
    background-color: rgb(133 190 54);
}
